*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    min-width: 100vh;
    background-color: #0d8bd4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 225px;
    margin-left: 0px;
}
.calculadora{
    background-color: rgb(148, 12, 211);
    color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 350px;
    padding: 1rem;
    border-radius: 1rem;
    gap: 1rem;
}
.Pantalla{
    grid-column: 1/5;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    font-size: 3rem;
    text-align: right;
    border-radius: 0.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    overflow: scroll;
}

.boton {
    background-color: rgb(6, 3, 36);
    color: rgb(255, 255, 255);
    border: 0;
    padding: 1rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .8rem;
    cursor: pointer;
}

.boton:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}

#cero{
    grid-column: span 2;
}

#igual {
    grid-row: span 2;
    background-color: rgb(6, 3, 36); 
}

#igual:hover {
    background-color: rgb(132, 167, 227);
}

#borrar {
    background-color: aquamarine;
}

#borrar:hover {
    background-color: coral;
}

#limpiar {
    background-color: aquamarine;
}

#limpiar:hover {
    background-color: coral;
}